
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: #4b379a;
    margin: 0;
}

#menu-plantilla{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    position: sticky;
    background-color: #000;
    border-bottom: 1px solid #77cc6d;
    padding: 0.1rem 1.2rem;
    top: 0;
    justify-content: space-between;
    height: 56px;

}

#botonesp{
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.btn-menup{
    text-decoration: none;
    color: #fff;
    padding: 0.4em 0.9em;
    border-radius: 2px;
    margin: auto 0.4em;
    font-size: 0.9em;
    font-weight: bold;
}

.btn-social{
    text-decoration: none;
    color: #fff;
    padding: 0.4em 0.9em;
    border-radius: 3px;
    font-size: 0.6em;
    font-weight: bold;
}

#select{
    margin: auto 0;
    width: 200px;
}

#plantillas{
    font-weight: bold;
    color: #ccc;
    background-color: #111;
    border-radius: 2px;
    width: 100%;
    padding: 0.6em;
    border: 0;
    height: 1em;
}

#plantillas:hover{
    cursor: pointer;
    color: #fff;
}

#plantillas>option{
    color: #DFDFDF;
    background-color: #2b2b2b;
    border-bottom: 1px solid #414141;
    padding: 1em;
}

#fb{
    background-color: #365899;
}

#twitter{
    background-color: #1b95e0;
}

#fb:hover{
    background-color: #28416e;
}

#twitter:hover{
    background-color: #166da3;
}

#download{
    background-color: #5c4185;
}

#download:hover{
    background-color: #463264;
}

#close{
    background-color: #3b3b3b;
}

#close:hover{
    background-color: #202020;
}

.btn-menup i{
    padding-right: 10px;
}

.btn-social i{
    padding-right: 7px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

.main-content{
    background-color: #fff;
    margin: 6rem auto;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 35rem) 30rem repeat(2,32rem) 35rem 26rem 20rem;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner1, .contact{
    grid-column: 1/3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 35rem;
}

.banner1{
    background-image: url("../img/header-bg.jpg");

    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}

.banner1:before, .contact:before{
    background-image: linear-gradient(to right, #3224b0 0%, #be5ede 100%);
    opacity: 0.9;
    content: "";
    width: 80%;
    height: 35rem;
    position: absolute;
}

iframe{
    width:100%;
    overflow-y: scroll;
    height: calc(100vh - calc(56px + 0.5rem));
}

.banner1 div{
    z-index: 2;
}

.menu{
    z-index: 2;
    grid-column-start: 2;
    justify-self: center;
}

.menu ul {

    width: 40%;
    display: flex;
    flex-direction: row;
}

.menu ul li{
    list-style: none;
    margin-right: 3.5em;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
    transition: 0.3s;
}

.menu ul li a:hover{
    color: #000;
    transition: 0.3s;
}

.logo{
    margin-left: 26%;
    margin-top: 1em;
}

.header-info{
    grid-column: 1/3;
    justify-self: center;
    margin: 0 auto;
    text-align: center;
}

.header-info > h2{
    font-size: 1.1em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto 0.5rem;
    letter-spacing: 3px;
}

.header-info > h1{
    line-height: 1em;
    font-size: 7.6em;
    font-weight: 100;
    margin: 0.5rem auto 2rem;
    align-content: center;
}

.custom-btn{
    text-decoration: none;
    color: #fff;
    border-radius: 2em;
    border: 1px solid #fff;
    padding: 0.5em 2em;
    transition: all 0.3s ease-out;
}

.custom-btn:hover{
    color: #fff;
    background: linear-gradient(to left, #3224b0 0%, #be5ede 100%);
    background-size: calc(100% + 2px);
    background-position: -1px;
    transition: all 0.3s ease-out;
    border: 1px solid transparent;
}

.gradient-btn{
    background: linear-gradient(to left, #3224b0 0%, #be5ede 100%);
    border: 1px solid transparent;
}

.content-section{
    width: 70%;
    justify-self: end;
    padding: 0.5em;
    align-self: center;
}

.content-section > h3{
    font-weight: 100;
    font-size: 2.2em;
    line-height: 1.3em;
}

.content-section > p{
    margin: 25px 0;
    font-size: 0.85em;
    line-height: 1.5em;
}

.CSA > h3 > span{
    font-weight: bold;
    color: #000;
}

.CSB > h3 > span{
    font-weight: bold;
    color: #fff;
}

.CSA{
    color: #777777;
    justify-self: right;
}

.CSB{
    color: #fff;
    justify-self: center;
}

.slider-cont{
    align-self: center;
    justify-self: left;
    padding: 0.5em;
    width: 80%;
}

.slider-cont > img{
    width: 95%;
}

.slider-cont > p{
    text-align: center;
    line-height: 1em;
    margin: 0 auto;
    letter-spacing: 10px;
}

.parallax-section{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-image: url("../img/parallux-bg.jpg");
    height: 30rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-section::before{
    background-color: #000;
    opacity: 0.3;
    content: "";
    width: 80%;
    height: 30rem;
    position: absolute;
    z-index: 1;
}

.parallax-section > div{
    z-index: 2;
    grid-column-start: 2;
}

.gallery{
    align-self: center;
    justify-self: center;
    grid-gap: 2em;
    grid-row: span 2;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 74%;
}

.gallery > div{
    align-self: center;
    justify-self: center;
}

.gallery > div > img{
    width: 100%;
    border-radius: 3px;
}

.contact{
    background-image: url("../img/contact-bg.jpg");
    color: #fff;

    grid-column: 1/3;
    display: grid;
    height: 35rem;

}

.contact-form{
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2em 2em;
    align-items: center;
    justify-items: center;
    width: 60%;
    z-index: 2;
    text-align: center;
}

.info-contact{
    grid-column: 1/3;
}

h3{
    font-size: 2.25em;
    font-weight: 100;
    margin: 0;
    line-height: 1.3em;
}

span{
    font-weight: bold;
}

p{
    margin: 0 0 1em;
    font-size: 0.88em;
}


.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea{
    min-width: calc(100% - 3em);
    max-width: calc(100% - 3em);
    min-height: 3em;
    background-color: transparent;
    border: 1px solid #8373ca;

    color: #fff;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;

}

.contact-form input[type="text"]::placeholder, .contact-form input[type="email"]::placeholder, .contact-form textarea::placeholder{
    color: #fff;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
}

.contact-form textarea{
    min-height: 9em;
    max-height: 9em;
    padding: 1.5em;
    resize: none;
}

.contact-form input[type="text"], .contact-form input[type="email"]{
    padding: 0 1.5em;
}

.submit-btn{
    color: #000;
    background-color: #fff;
    grid-column-start: 2;
    justify-self: right;
    padding: 0.75em 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: -0.4em;
    cursor: pointer;
}

.subscribe{
    align-self: center;
    justify-self: center;
    grid-column: 1/3;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
    text-align: center;
    background-color: #f9f9ff;
    width: 100%;
    height: 26rem;
}

.subscribe h3{
    margin: 1rem;
}

.subscribe input[type="email"]{
    border-radius: 2em;
    border: 1px solid transparent;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    padding: 1em 16em 1em 2em;
    width: calc(40rem - 18em);
    margin: 1rem;
}

.subscribe button{
    font-size: 0.9rem;
    width: 12em;
    padding: 0.8em;
    text-transform: uppercase;
    font-weight: 100;
    margin-left: -15.5em;
    cursor: pointer;
}

.subscribe p{
    color: #777777;
    margin-top: 2rem;
}

.end{
    grid-column: 1/3;
    background-color: #222222;
    color: #fff;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.fmenu ul li a:hover{
    color: #bc5ede;
    transition: 0.3s;
}

.fmenu ul li a{
    text-transform: capitalize;
}

.fmenu ul li{
    margin: 0 1.5em;
}

.fmenu ul{
    padding: 1em;
    margin: 0 auto;
    justify-content: center;
}

.social-links{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 10%;
    margin: 0.8em auto;
}

.social-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease-out;
    margin: auto;
}

.social-links a:hover{
    font-size: 0.85em;
    color: #bc5ede;
    transition: all 0.2s ease-out;

}

.copyright{
    margin: 0.8em auto;
}

.copyright span{
    color: #bc5ede;
}

.copyright a{
    color: #bc5ede;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .main-content{
        grid-template-rows: 35rem 30rem 30rem repeat(2,50rem) 35rem 26rem 20rem;
    }

    .main-content, .banner1, .parallax-section, .gallery{
        grid-template-columns: 1fr;
    }

    .content-section, .slider-cont{
        grid-column: 1/3;
        justify-self: center;
        text-align: center;
    }


}
